button {
  border: none;
}

div.main_box2 {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
div.main_box2 div.containers {
  padding: 20px 0px;
  border-bottom: 1px solid #EEE;
  transition: all 0.9s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
div.main_box2 div.containers > h3 {
  transition: all 0.9s;
  color: #000;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
div.main_box2 div.containers > p {
  align-self: stretch;
  transition: all 0.9s;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
div.main_box2 div.containers div.demo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
div.main_box2 div.containers div.demo div.demo_header {
  height: 65px;
  padding: 0px 16px;
  background: #607D8B;
  display: flex;
  align-items: center;
  align-self: stretch;
}
div.main_box2 div.containers div.demo div.demo_header h3 {
  transition: all 0.9s;
  color: #FFF;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
div.main_box2 div.containers div.demo div.demo_body {
  padding: 20px 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.7s;
  height: auto;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}
div.main_box2 div.containers div.demo div.demo_body h3 {
  transition: all 0.9s;
  color: #000;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
div.main_box2 div.containers div.demo div.demo_body p {
  align-self: stretch;
  transition: all 0.9s;
  color: #000;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
div.main_box2 div.containers div.demo div.demo_body button {
  padding: 8px 16px;
  background: none;
  cursor: pointer;
  transition: all 0.4s;
  position: absolute;
  right: 0px;
  top: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.main_box2 div.containers div.demo div.demo_body button .ic {
  width: 15px;
  height: 15px;
  color: #000;
  transition: all 0.9s;
}
div.main_box2 div.containers div.demo div.demo_body button:hover {
  background: lightgrey;
}
div.main_box2 div.containers div.demo div.demo_body.close {
  padding: 0 16px;
  max-height: 0;
}
div.main_box2 div.containers div.demo div.demo_footer {
  padding: 10px 10px 15px 10px;
  background: #607D8B;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
div.main_box2 div.containers div.demo div.demo_footer h3 {
  transition: all 0.9s;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
div.main_box2 div.containers div.demo div.demo_footer p {
  opacity: 0.6;
  transition: all 0.9s;
  color: #FFF;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
div.main_box2 div.colorThemes {
  padding: 20px 0px;
  border-bottom: 1px solid #EEE;
  transition: all 0.9s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
div.main_box2 div.colorThemes > h3 {
  transition: all 0.9s;
  color: #000;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
div.main_box2 div.colorThemes > p {
  align-self: stretch;
  transition: all 0.9s;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
div.main_box2 div.colorThemes div.themes {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
div.main_box2 div.colorThemes div.themes > div {
  width: calc(50% - 10px);
  background: #FFF;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
  transition: all 0.9s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
div.main_box2 div.colorThemes div.themes > div div.themeHeader {
  padding: 10px 16px;
  transition: all 0.9s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}
div.main_box2 div.colorThemes div.themes > div div.themeHeader h3 {
  transition: all 0.9s;
  color: #FFF;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
div.main_box2 div.colorThemes div.themes > div div.themeBody {
  padding: 8px 16px;
  border-bottom: 1px solid #DDD;
  transition: all 0.9s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
div.main_box2 div.colorThemes div.themes > div div.themeBody h3 {
  margin: 10px 0;
  flex: 1 0 0;
  transition: all 0.9s;
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
div.main_box2 div.colorThemes div.themes > div div.themeBody p {
  margin: 15px 0;
  flex: 1 0 0;
  transition: all 0.9s;
  color: #000;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
div.main_box2 div.colorThemes div.themes > div div.movieTitle {
  padding: 10px 16px;
}
div.main_box2 div.colorThemes div.themes > div div.movieTitle h3 {
  color: #3F51B5;
}
div.main_box2 div.colorThemes div.themes > div div.themeFooter {
  padding: 0px 16px;
  transition: all 0.9s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  align-self: stretch;
}
div.main_box2 div.colorThemes div.themes > div div.themeFooter p {
  transition: all 0.9s;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
div.main_box2 div.colorThemes div.themes div.themeA div.themeHeader {
  background: #3F51B5;
}
div.main_box2 div.colorThemes div.themes div.themeA div.themeFooter {
  background: #3F51B5;
}
div.main_box2 div.colorThemes div.themes div.themeB div.themeHeader {
  background: #000;
}
div.main_box2 div.colorThemes div.themes div.themeB div.themeFooter {
  background: #000;
}
div.main_box2 div.paperLike {
  padding: 20px 0px;
  border-bottom: 1px solid #EEE;
  transition: all 0.9s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
div.main_box2 div.paperLike h3 {
  align-self: stretch;
  transition: all 0.9s;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
div.main_box2 div.paperLike div.cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
div.main_box2 div.paperLike div.cards div.card {
  width: 32%;
  background: #FFF;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
  transition: all 0.9s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
div.main_box2 div.paperLike div.cards div.card img {
  align-self: stretch;
  aspect-ratio: 481/360;
  object-fit: cover;
  object-position: center;
  display: block;
}
div.main_box2 div.paperLike div.cards div.card div.card_bottom {
  padding: 15px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}
div.main_box2 div.paperLike div.cards div.card div.card_bottom p {
  transition: all 0.9s;
  color: #000;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

div.main_box2.variant_night div.containers {
  border-bottom: 1px solid #4E4E4E;
}
div.main_box2.variant_night div.containers > h3, div.main_box2.variant_night div.containers > p {
  color: #E7E7E7;
}
div.main_box2.variant_night div.containers div.demo div.demo_header h3, div.main_box2.variant_night div.containers div.demo div.demo_header p, div.main_box2.variant_night div.containers div.demo div.demo_footer h3, div.main_box2.variant_night div.containers div.demo div.demo_footer p {
  color: #E7E7E7;
}
div.main_box2.variant_night div.containers div.demo div.demo_body {
  background: #4C4C4C;
}
div.main_box2.variant_night div.containers div.demo div.demo_body h3, div.main_box2.variant_night div.containers div.demo div.demo_body p {
  color: #E7E7E7;
}
div.main_box2.variant_night div.containers div.demo div.demo_body button .ic {
  color: #E7E7E7;
}
div.main_box2.variant_night div.containers div.demo div.demo_body button:hover {
  background: darkgrey;
}
div.main_box2.variant_night div.colorThemes {
  border-bottom: 1px solid #4E4E4E;
}
div.main_box2.variant_night div.colorThemes > h3, div.main_box2.variant_night div.colorThemes > p {
  color: #E7E7E7;
}
div.main_box2.variant_night div.colorThemes div.themes > div {
  background: #4C4C4C;
  box-shadow: 0px 2px 10px 0px rgba(255, 255, 255, 0.16);
}
div.main_box2.variant_night div.colorThemes div.themes > div div.themeHeader h3 {
  color: #E7E7E7;
}
div.main_box2.variant_night div.colorThemes div.themes > div div.themeBody {
  border-bottom: 1px solid #323232;
}
div.main_box2.variant_night div.colorThemes div.themes > div div.themeBody h3, div.main_box2.variant_night div.colorThemes div.themes > div div.themeBody p {
  color: #E7E7E7;
}
div.main_box2.variant_night div.colorThemes div.themes > div div.themeFooter p {
  color: #E7E7E7;
}
div.main_box2.variant_night div.paperLike {
  border-bottom: 1px solid #4E4E4E;
}
div.main_box2.variant_night div.paperLike h3 {
  color: #E7E7E7;
}
div.main_box2.variant_night div.paperLike div.cards div.card {
  background: #4C4C4C;
  box-shadow: 0px 2px 10px 0px rgba(255, 255, 255, 0.12);
}
div.main_box2.variant_night div.paperLike div.cards div.card div.card_bottom p {
  color: #E7E7E7;
}
div.main_box2.variant_red div.colorThemes div.themes div.themeB div.themeHeader {
  background: #F44336;
}
div.main_box2.variant_red div.colorThemes div.themes div.themeB div.movieTitle h3 {
  color: #F44336;
}
div.main_box2.variant_red div.colorThemes div.themes div.themeB div.themeFooter {
  background: #F44336;
}
div.main_box2.variant_teal div.colorThemes div.themes div.themeB div.themeHeader {
  background: #009688;
}
div.main_box2.variant_teal div.colorThemes div.themes div.themeB div.movieTitle h3 {
  color: #009688;
}
div.main_box2.variant_teal div.colorThemes div.themes div.themeB div.themeFooter {
  background: #009688;
}

/* Extra small devices (phones, below 600px) */
@media only screen and (min-width: 320px) and (max-width: 599.9px) {
  div.main_box2 {
    gap: 70px;
  }
  div.main_box2 div.containers > h3 {
    align-self: stretch;
  }
  div.main_box2 div.containers > p {
    text-align: initial;
  }
  div.main_box2 div.colorThemes > h3 {
    align-self: stretch;
  }
  div.main_box2 div.colorThemes > p {
    text-align: initial;
  }
  div.main_box2 div.colorThemes div.themes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
  }
  div.main_box2 div.colorThemes div.themes > div {
    width: 100%;
  }
  div.main_box2 div.paperLike h3 {
    text-align: initial;
  }
  div.main_box2 div.paperLike div.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }
  div.main_box2 div.paperLike div.cards div.card {
    width: 100%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767.9px) {
  div.main_box2 {
    gap: 70px;
  }
  div.main_box2 div.containers > h3 {
    align-self: stretch;
  }
  div.main_box2 div.containers > p {
    text-align: initial;
  }
  div.main_box2 div.colorThemes > h3 {
    align-self: stretch;
  }
  div.main_box2 div.colorThemes > p {
    text-align: initial;
  }
  div.main_box2 div.colorThemes div.themes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
  }
  div.main_box2 div.colorThemes div.themes > div {
    width: 100%;
  }
  div.main_box2 div.paperLike h3 {
    text-align: initial;
  }
  div.main_box2 div.paperLike div.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }
  div.main_box2 div.paperLike div.cards div.card {
    width: 100%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.9px) {
  div.main_box2 {
    gap: 70px;
  }
  div.main_box2 div.containers > h3 {
    align-self: stretch;
  }
  div.main_box2 div.containers > p {
    text-align: initial;
  }
  div.main_box2 div.colorThemes > h3 {
    align-self: stretch;
  }
  div.main_box2 div.colorThemes > p {
    text-align: initial;
  }
  div.main_box2 div.paperLike h3 {
    text-align: initial;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */

/*# sourceMappingURL=box2.module.css.map */
